{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Resetowanie hasła{% endblock %}

{% block content %}

    {% if validlink %}
        <div class="container w-50 p-3">
            <h2>Zapomiałeś hasła?</h2>
            <p>Dwukrotnie podaj nowe hasło.</p>

            <form method="post" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Zmień hasło</button>
            </form>
        </div>
    {% else %}
        <h2>Zapomiałeś hasła?</h2>
        <p>Link pozwalający na wyzerowanie hasła jest nieprawidłowy, ponieważ
            prawdopodobnie został już wcześniej użyty. Musisz ponownie
            rozpocząć procedure zerowania hasła.
        </p>
    {% endif %}

{% endblock %}